div.container {
    display: flex;
    justify-content: center;
    width: 400px;
    /* Largura do formulário */
    margin: 21px auto 0;
    /* Centraliza o formulário horizontalmente */
    padding: 50px;
    border: 2px solid rgb(8, 6, 6);
    border-radius: 16px;
    background-color: rgb(233, 229, 224);


}


div.form-floating {
    width: 1000%;
    /* Largura total do campo de entrada */
    padding: 100px;
    /* Preenchimento interno */
    margin-bottom: 10px;
    /* Espaçamento inferior */
    border: 0px transparent;
    /* Borda sólida com cor cinza */
    border-radius: 100px;
    width: 100%;
    /* Largura total do campo de entrada */
    padding: 5px;
    /* Preenchimento interno */
    margin-bottom: 25px;
    /* Espaçamento inferior */
    border: 2px solid rgb(4, 5, 4);
    /* Borda sólida com cor cinza */
    border-radius: 50px;

}

#floatingInput {
    background-color: transparent;
    border: transparent;


}


.label {
    margin: auto;
    border-radius: transparent;
    background-color: transparent;

}


input.form-control {
    width: 80%;
    /* Largura total do campo de entrada */
    padding: 10px;
    /* Preenchimento interno */
    margin-bottom: 10px;
    /* Espaçamento inferior */
    border: 1px solid #060404;
    /* Borda sólida com cor cinza */
    border: transparent;
    border-bottom: transparent;
}

.form-floating-height: {
    a3.5rem,
    $input-height-border;
}

body {
    background-color: #2f9c4e;
}

h2 {
    text-align: center;
    align-items: center;
    margin: 20px;
}

.botao-criar-conta {
    padding: 10px 20px;
    /* Preenchimento interno */
    background-color: transparent;
    /* Cor de fundo */
    color: #150808;
    /* Cor do texto */
    border: black;
    /* Remove a borda */
    border-radius: 5px;
    /* Borda arredondada */
    cursor: pointer;
    margin: 0 auto;
    border: 2px solid #000;

}

.botao-criar-conta:hover {
    background-color: #12ab4d;
    /* Cor de fundo mais escura ao passar o mouse */

}

#botao-voltar {
    background-color: #f2f7fbe2;
    color: #343a40;
    border-color: #f8f9fa;
    border-radius: 10px;
    padding: 5px;
    
   
}

#botao-voltar:hover{
    background-color: #aacca9;
    color: #343a40;
    border-color: #f0f4f7;
}
    